* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 3px;
  margin-bottom: 3px;
}

div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e2e2e2;
}

button {
  padding: 10px 20px;
  border: 2px solid black;
  background: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

p.binod {
  font-size: 1rem;
}

h1.binod,
h2.binod,
h3.binod,
h4.binod,
h5.binod,
h6.binod {
  font-size: 2rem;
}

.p-binod {
  padding: 5px;
}

.pl-binod, .px-binod {
  padding-left: 5px;
}

.pr-binod, .px-binod {
  padding-right: 5px;
}

.pt-binod, .py-binod {
  padding-top: 5px;
}

.pb-binod, .py-binod {
  padding-bottom: 5px;
}

.m-binod {
  margin: 5px;
}

.ml-binod {
  margin-left: 5px;
}

.mr-binod {
  margin-right: 5px;
}

.mt-binod {
  margin-top: 5px;
}

.mb-binod {
  margin-bottom: 5px;
}

.mx-binod {
  margin-left: 5px;
  margin-right: 5px;
}

.my-binod {
  margin-top: 5px;
  margin-bottom: 5px;
}

.bg-binod {
  background: #74B9FF;
}

button.bg-binod:hover {
  background: #0e86ff;
}

.col-binod {
  color: #0c2541;
}

p.Binod {
  font-size: 1.2rem;
}

h1.Binod,
h2.Binod,
h3.Binod,
h4.Binod,
h5.Binod,
h6.Binod {
  font-size: 3rem;
}

.p-Binod {
  padding: 15px;
}

.pl-Binod {
  padding-left: 15px;
}

.pr-Binod {
  padding-right: 15px;
}

.pt-Binod {
  padding-top: 15px;
}

.pb-Binod {
  padding-bottom: 15px;
}

.px-Binod {
  padding-left: 15px;
  padding-right: 15px;
}

.py-Binod {
  padding-top: 15px;
  padding-bottom: 15px;
}

.m-Binod {
  margin: 15px;
}

.ml-Binod {
  margin-left: 15px;
}

.mr-Binod {
  margin-right: 15px;
}

.mt-Binod {
  margin-top: 15px;
}

.mb-Binod {
  margin-bottom: 15px;
}

.mx-Binod {
  margin-left: 15px;
  margin-right: 15px;
}

.my-Binod {
  margin-top: 15px;
  margin-bottom: 15px;
}

.bg-Binod {
  background: #111f42;
}

button.bg-Binod:hover {
  background: #264593;
}

.col-Binod {
  color: #74B9FF;
}

p.bInod {
  font-size: 1.2rem;
}

h1.bInod,
h2.bInod,
h3.bInod,
h4.bInod,
h5.bInod,
h6.bInod {
  font-size: 3rem;
}

.p-bInod {
  padding: 15px;
}

.pl-bInod {
  padding-left: 15px;
}

.pr-bInod {
  padding-right: 15px;
}

.pt-bInod {
  padding-top: 15px;
}

.pb-bInod {
  padding-bottom: 15px;
}

.px-bInod {
  padding-left: 15px;
  padding-right: 15px;
}

.py-bInod {
  padding-top: 15px;
  padding-bottom: 15px;
}

.m-bInod {
  margin: 15px;
}

.ml-bInod {
  margin-left: 15px;
}

.mr-bInod {
  margin-right: 15px;
}

.mt-bInod {
  margin-top: 15px;
}

.mb-bInod {
  margin-bottom: 15px;
}

.mx-bInod {
  margin-left: 15px;
  margin-right: 15px;
}

.my-bInod {
  margin-top: 15px;
  margin-bottom: 15px;
}

.bg-bInod {
  background: #111f42;
}

button.bg-bInod:hover {
  background: #264593;
}

.col-bInod {
  color: #74B9FF;
}

p.biNod {
  font-size: 1.2rem;
}

h1.biNod,
h2.biNod,
h3.biNod,
h4.biNod,
h5.biNod,
h6.biNod {
  font-size: 3rem;
}

.p-biNod {
  padding: 15px;
}

.pl-biNod {
  padding-left: 15px;
}

.pr-biNod {
  padding-right: 15px;
}

.pt-biNod {
  padding-top: 15px;
}

.pb-biNod {
  padding-bottom: 15px;
}

.px-biNod {
  padding-left: 15px;
  padding-right: 15px;
}

.py-biNod {
  padding-top: 15px;
  padding-bottom: 15px;
}

.m-biNod {
  margin: 15px;
}

.ml-biNod {
  margin-left: 15px;
}

.mr-biNod {
  margin-right: 15px;
}

.mt-biNod {
  margin-top: 15px;
}

.mb-biNod {
  margin-bottom: 15px;
}

.mx-biNod {
  margin-left: 15px;
  margin-right: 15px;
}

.my-biNod {
  margin-top: 15px;
  margin-bottom: 15px;
}

.bg-biNod {
  background: #111f42;
}

button.bg-biNod:hover {
  background: #264593;
}

.col-biNod {
  color: #74B9FF;
}

p.binOd {
  font-size: 1.2rem;
}

h1.binOd,
h2.binOd,
h3.binOd,
h4.binOd,
h5.binOd,
h6.binOd {
  font-size: 3rem;
}

.p-binOd {
  padding: 15px;
}

.pl-binOd {
  padding-left: 15px;
}

.pr-binOd {
  padding-right: 15px;
}

.pt-binOd {
  padding-top: 15px;
}

.pb-binOd {
  padding-bottom: 15px;
}

.px-binOd {
  padding-left: 15px;
  padding-right: 15px;
}

.py-binOd {
  padding-top: 15px;
  padding-bottom: 15px;
}

.m-binOd {
  margin: 15px;
}

.ml-binOd {
  margin-left: 15px;
}

.mr-binOd {
  margin-right: 15px;
}

.mt-binOd {
  margin-top: 15px;
}

.mb-binOd {
  margin-bottom: 15px;
}

.mx-binOd {
  margin-left: 15px;
  margin-right: 15px;
}

.my-binOd {
  margin-top: 15px;
  margin-bottom: 15px;
}

.bg-binOd {
  background: #111f42;
}

button.bg-binOd:hover {
  background: #264593;
}

.col-binOd {
  color: #74B9FF;
}

p.binoD {
  font-size: 1.2rem;
}

h1.binoD,
h2.binoD,
h3.binoD,
h4.binoD,
h5.binoD,
h6.binoD {
  font-size: 3rem;
}

.p-binoD {
  padding: 15px;
}

.pl-binoD {
  padding-left: 15px;
}

.pr-binoD {
  padding-right: 15px;
}

.pt-binoD {
  padding-top: 15px;
}

.pb-binoD {
  padding-bottom: 15px;
}

.px-binoD {
  padding-left: 15px;
  padding-right: 15px;
}

.py-binoD {
  padding-top: 15px;
  padding-bottom: 15px;
}

.m-binoD {
  margin: 15px;
}

.ml-binoD {
  margin-left: 15px;
}

.mr-binoD {
  margin-right: 15px;
}

.mt-binoD {
  margin-top: 15px;
}

.mb-binoD {
  margin-bottom: 15px;
}

.mx-binoD {
  margin-left: 15px;
  margin-right: 15px;
}

.my-binoD {
  margin-top: 15px;
  margin-bottom: 15px;
}

.bg-binoD {
  background: #111f42;
}

button.bg-binoD:hover {
  background: #264593;
}

.col-binoD {
  color: #74B9FF;
}

p.BInod {
  font-size: 1.4rem;
}

h1.BInod,
h2.BInod,
h3.BInod,
h4.BInod,
h5.BInod,
h6.BInod {
  font-size: 3.75rem;
}

.p-BInod {
  padding: 25px;
}

.pl-BInod {
  padding-left: 25px;
}

.pr-BInod {
  padding-right: 25px;
}

.pt-BInod {
  padding-top: 25px;
}

.pb-BInod {
  padding-bottom: 25px;
}

.px-BInod {
  padding-left: 25px;
  padding-right: 25px;
}

.py-BInod {
  padding-top: 25px;
  padding-bottom: 25px;
}

.m-BInod {
  margin: 25px;
}

.ml-BInod {
  margin-left: 25px;
}

.mr-BInod {
  margin-right: 25px;
}

.mt-BInod {
  margin-top: 25px;
}

.mb-BInod {
  margin-bottom: 25px;
}

.mx-BInod {
  margin-left: 25px;
  margin-right: 25px;
}

.my-BInod {
  margin-top: 25px;
  margin-bottom: 25px;
}

.bg-BInod {
  background: #40c7a7;
}

button.bg-BInod:hover {
  background: #8fdecb;
}

.col-BInod {
  color: #082c24;
}

p.BiNod {
  font-size: 1.4rem;
}

h1.BiNod,
h2.BiNod,
h3.BiNod,
h4.BiNod,
h5.BiNod,
h6.BiNod {
  font-size: 3.75rem;
}

.p-BiNod {
  padding: 25px;
}

.pl-BiNod {
  padding-left: 25px;
}

.pr-BiNod {
  padding-right: 25px;
}

.pt-BiNod {
  padding-top: 25px;
}

.pb-BiNod {
  padding-bottom: 25px;
}

.px-BiNod {
  padding-left: 25px;
  padding-right: 25px;
}

.py-BiNod {
  padding-top: 25px;
  padding-bottom: 25px;
}

.m-BiNod {
  margin: 25px;
}

.ml-BiNod {
  margin-left: 25px;
}

.mr-BiNod {
  margin-right: 25px;
}

.mt-BiNod {
  margin-top: 25px;
}

.mb-BiNod {
  margin-bottom: 25px;
}

.mx-BiNod {
  margin-left: 25px;
  margin-right: 25px;
}

.my-BiNod {
  margin-top: 25px;
  margin-bottom: 25px;
}

.bg-BiNod {
  background: #40c7a7;
}

button.bg-BiNod:hover {
  background: #8fdecb;
}

.col-BiNod {
  color: #082c24;
}

p.BinOd {
  font-size: 1.4rem;
}

h1.BinOd,
h2.BinOd,
h3.BinOd,
h4.BinOd,
h5.BinOd,
h6.BinOd {
  font-size: 3.75rem;
}

.p-BinOd {
  padding: 25px;
}

.pl-BinOd {
  padding-left: 25px;
}

.pr-BinOd {
  padding-right: 25px;
}

.pt-BinOd {
  padding-top: 25px;
}

.pb-BinOd {
  padding-bottom: 25px;
}

.px-BinOd {
  padding-left: 25px;
  padding-right: 25px;
}

.py-BinOd {
  padding-top: 25px;
  padding-bottom: 25px;
}

.m-BinOd {
  margin: 25px;
}

.ml-BinOd {
  margin-left: 25px;
}

.mr-BinOd {
  margin-right: 25px;
}

.mt-BinOd {
  margin-top: 25px;
}

.mb-BinOd {
  margin-bottom: 25px;
}

.mx-BinOd {
  margin-left: 25px;
  margin-right: 25px;
}

.my-BinOd {
  margin-top: 25px;
  margin-bottom: 25px;
}

.bg-BinOd {
  background: #40c7a7;
}

button.bg-BinOd:hover {
  background: #8fdecb;
}

.col-BinOd {
  color: #082c24;
}

p.BinoD {
  font-size: 1.4rem;
}

h1.BinoD,
h2.BinoD,
h3.BinoD,
h4.BinoD,
h5.BinoD,
h6.BinoD {
  font-size: 3.75rem;
}

.p-BinoD {
  padding: 25px;
}

.pl-BinoD {
  padding-left: 25px;
}

.pr-BinoD {
  padding-right: 25px;
}

.pt-BinoD {
  padding-top: 25px;
}

.pb-BinoD {
  padding-bottom: 25px;
}

.px-BinoD {
  padding-left: 25px;
  padding-right: 25px;
}

.py-BinoD {
  padding-top: 25px;
  padding-bottom: 25px;
}

.m-BinoD {
  margin: 25px;
}

.ml-BinoD {
  margin-left: 25px;
}

.mr-BinoD {
  margin-right: 25px;
}

.mt-BinoD {
  margin-top: 25px;
}

.mb-BinoD {
  margin-bottom: 25px;
}

.mx-BinoD {
  margin-left: 25px;
  margin-right: 25px;
}

.my-BinoD {
  margin-top: 25px;
  margin-bottom: 25px;
}

.bg-BinoD {
  background: #40c7a7;
}

button.bg-BinoD:hover {
  background: #8fdecb;
}

.col-BinoD {
  color: #082c24;
}

p.bINod {
  font-size: 1.4rem;
}

h1.bINod,
h2.bINod,
h3.bINod,
h4.bINod,
h5.bINod,
h6.bINod {
  font-size: 3.75rem;
}

.p-bINod {
  padding: 25px;
}

.pl-bINod {
  padding-left: 25px;
}

.pr-bINod {
  padding-right: 25px;
}

.pt-bINod {
  padding-top: 25px;
}

.pb-bINod {
  padding-bottom: 25px;
}

.px-bINod {
  padding-left: 25px;
  padding-right: 25px;
}

.py-bINod {
  padding-top: 25px;
  padding-bottom: 25px;
}

.m-bINod {
  margin: 25px;
}

.ml-bINod {
  margin-left: 25px;
}

.mr-bINod {
  margin-right: 25px;
}

.mt-bINod {
  margin-top: 25px;
}

.mb-bINod {
  margin-bottom: 25px;
}

.mx-bINod {
  margin-left: 25px;
  margin-right: 25px;
}

.my-bINod {
  margin-top: 25px;
  margin-bottom: 25px;
}

.bg-bINod {
  background: #40c7a7;
}

button.bg-bINod:hover {
  background: #8fdecb;
}

.col-bINod {
  color: #082c24;
}

p.bInOd {
  font-size: 1.4rem;
}

h1.bInOd,
h2.bInOd,
h3.bInOd,
h4.bInOd,
h5.bInOd,
h6.bInOd {
  font-size: 3.75rem;
}

.p-bInOd {
  padding: 25px;
}

.pl-bInOd {
  padding-left: 25px;
}

.pr-bInOd {
  padding-right: 25px;
}

.pt-bInOd {
  padding-top: 25px;
}

.pb-bInOd {
  padding-bottom: 25px;
}

.px-bInOd {
  padding-left: 25px;
  padding-right: 25px;
}

.py-bInOd {
  padding-top: 25px;
  padding-bottom: 25px;
}

.m-bInOd {
  margin: 25px;
}

.ml-bInOd {
  margin-left: 25px;
}

.mr-bInOd {
  margin-right: 25px;
}

.mt-bInOd {
  margin-top: 25px;
}

.mb-bInOd {
  margin-bottom: 25px;
}

.mx-bInOd {
  margin-left: 25px;
  margin-right: 25px;
}

.my-bInOd {
  margin-top: 25px;
  margin-bottom: 25px;
}

.bg-bInOd {
  background: #40c7a7;
}

button.bg-bInOd:hover {
  background: #8fdecb;
}

.col-bInOd {
  color: #082c24;
}

p.bInoD {
  font-size: 1.4rem;
}

h1.bInoD,
h2.bInoD,
h3.bInoD,
h4.bInoD,
h5.bInoD,
h6.bInoD {
  font-size: 3.75rem;
}

.p-bInoD {
  padding: 25px;
}

.pl-bInoD {
  padding-left: 25px;
}

.pr-bInoD {
  padding-right: 25px;
}

.pt-bInoD {
  padding-top: 25px;
}

.pb-bInoD {
  padding-bottom: 25px;
}

.px-bInoD {
  padding-left: 25px;
  padding-right: 25px;
}

.py-bInoD {
  padding-top: 25px;
  padding-bottom: 25px;
}

.m-bInoD {
  margin: 25px;
}

.ml-bInoD {
  margin-left: 25px;
}

.mr-bInoD {
  margin-right: 25px;
}

.mt-bInoD {
  margin-top: 25px;
}

.mb-bInoD {
  margin-bottom: 25px;
}

.mx-bInoD {
  margin-left: 25px;
  margin-right: 25px;
}

.my-bInoD {
  margin-top: 25px;
  margin-bottom: 25px;
}

.bg-bInoD {
  background: #40c7a7;
}

button.bg-bInoD:hover {
  background: #8fdecb;
}

.col-bInoD {
  color: #082c24;
}

p.biNoD {
  font-size: 1.4rem;
}

h1.biNoD,
h2.biNoD,
h3.biNoD,
h4.biNoD,
h5.biNoD,
h6.biNoD {
  font-size: 3.75rem;
}

.p-biNoD {
  padding: 25px;
}

.pl-biNoD {
  padding-left: 25px;
}

.pr-biNoD {
  padding-right: 25px;
}

.pt-biNoD {
  padding-top: 25px;
}

.pb-biNoD {
  padding-bottom: 25px;
}

.px-biNoD {
  padding-left: 25px;
  padding-right: 25px;
}

.py-biNoD {
  padding-top: 25px;
  padding-bottom: 25px;
}

.m-biNoD {
  margin: 25px;
}

.ml-biNoD {
  margin-left: 25px;
}

.mr-biNoD {
  margin-right: 25px;
}

.mt-biNoD {
  margin-top: 25px;
}

.mb-biNoD {
  margin-bottom: 25px;
}

.mx-biNoD {
  margin-left: 25px;
  margin-right: 25px;
}

.my-biNoD {
  margin-top: 25px;
  margin-bottom: 25px;
}

.bg-biNoD {
  background: #40c7a7;
}

button.bg-biNoD:hover {
  background: #8fdecb;
}

.col-biNoD {
  color: #082c24;
}

p.binOD {
  font-size: 1.4rem;
}

h1.binOD,
h2.binOD,
h3.binOD,
h4.binOD,
h5.binOD,
h6.binOD {
  font-size: 3.75rem;
}

.p-binOD {
  padding: 25px;
}

.pl-binOD {
  padding-left: 25px;
}

.pr-binOD {
  padding-right: 25px;
}

.pt-binOD {
  padding-top: 25px;
}

.pb-binOD {
  padding-bottom: 25px;
}

.px-binOD {
  padding-left: 25px;
  padding-right: 25px;
}

.py-binOD {
  padding-top: 25px;
  padding-bottom: 25px;
}

.m-binOD {
  margin: 25px;
}

.ml-binOD {
  margin-left: 25px;
}

.mr-binOD {
  margin-right: 25px;
}

.mt-binOD {
  margin-top: 25px;
}

.mb-binOD {
  margin-bottom: 25px;
}

.mx-binOD {
  margin-left: 25px;
  margin-right: 25px;
}

.my-binOD {
  margin-top: 25px;
  margin-bottom: 25px;
}

.bg-binOD {
  background: #40c7a7;
}

button.bg-binOD:hover {
  background: #8fdecb;
}

.col-binOD {
  color: #082c24;
}

p.biNOd {
  font-size: 1.4rem;
}

h1.biNOd,
h2.biNOd,
h3.biNOd,
h4.biNOd,
h5.biNOd,
h6.biNOd {
  font-size: 3.75rem;
}

.p-biNOd {
  padding: 25px;
}

.pl-biNOd {
  padding-left: 25px;
}

.pr-biNOd {
  padding-right: 25px;
}

.pt-biNOd {
  padding-top: 25px;
}

.pb-biNOd {
  padding-bottom: 25px;
}

.px-biNOd {
  padding-left: 25px;
  padding-right: 25px;
}

.py-biNOd {
  padding-top: 25px;
  padding-bottom: 25px;
}

.m-biNOd {
  margin: 25px;
}

.ml-biNOd {
  margin-left: 25px;
}

.mr-biNOd {
  margin-right: 25px;
}

.mt-biNOd {
  margin-top: 25px;
}

.mb-biNOd {
  margin-bottom: 25px;
}

.mx-biNOd {
  margin-left: 25px;
  margin-right: 25px;
}

.my-biNOd {
  margin-top: 25px;
  margin-bottom: 25px;
}

.bg-biNOd {
  background: #40c7a7;
}

button.bg-biNOd:hover {
  background: #8fdecb;
}

.col-biNOd {
  color: #082c24;
}

p.BINod {
  font-size: 1.75rem;
}

h1.BINod,
h2.BINod,
h3.BINod,
h4.BINod,
h5.BINod,
h6.BINod {
  font-size: 4.25rem;
}

.p-BINod {
  padding: 30px;
}

.pl-BINod {
  padding-left: 30px;
}

.pr-BINod {
  padding-right: 30px;
}

.pt-BINod {
  padding-top: 30px;
}

.pb-BINod {
  padding-bottom: 30px;
}

.px-BINod {
  padding-left: 30px;
  padding-right: 30px;
}

.py-BINod {
  padding-top: 30px;
  padding-bottom: 30px;
}

.m-BINod {
  margin: 30px;
}

.mt-BINod {
  margin-top: 30px;
}

.mb-BINod {
  margin-bottom: 30px;
}

.ml-BINod {
  margin-left: 30px;
}

.mr-BINod {
  margin-right: 30px;
}

.mx-BINod {
  margin-left: 30px;
  margin-right: 30px;
}

.my-BINod {
  margin-top: 30px;
  margin-bottom: 30px;
}

.bg-BINod {
  background: #40c7a7;
}

button.bg-BINod:hover {
  background: black;
}

.col-BINod {
  color: #40c7a7;
}

p.BInOd {
  font-size: 1.75rem;
}

h1.BInOd,
h2.BInOd,
h3.BInOd,
h4.BInOd,
h5.BInOd,
h6.BInOd {
  font-size: 4.25rem;
}

.p-BInOd {
  padding: 30px;
}

.pl-BInOd {
  padding-left: 30px;
}

.pr-BInOd {
  padding-right: 30px;
}

.pt-BInOd {
  padding-top: 30px;
}

.pb-BInOd {
  padding-bottom: 30px;
}

.px-BInOd {
  padding-left: 30px;
  padding-right: 30px;
}

.py-BInOd {
  padding-top: 30px;
  padding-bottom: 30px;
}

.m-BInOd {
  margin: 30px;
}

.mt-BInOd {
  margin-top: 30px;
}

.mb-BInOd {
  margin-bottom: 30px;
}

.ml-BInOd {
  margin-left: 30px;
}

.mr-BInOd {
  margin-right: 30px;
}

.mx-BInOd {
  margin-left: 30px;
  margin-right: 30px;
}

.my-BInOd {
  margin-top: 30px;
  margin-bottom: 30px;
}

.bg-BInOd {
  background: #40c7a7;
}

button.bg-BInOd:hover {
  background: black;
}

.col-BInOd {
  color: #40c7a7;
}

p.BInoD {
  font-size: 1.75rem;
}

h1.BInoD,
h2.BInoD,
h3.BInoD,
h4.BInoD,
h5.BInoD,
h6.BInoD {
  font-size: 4.25rem;
}

.p-BInoD {
  padding: 30px;
}

.pl-BInoD {
  padding-left: 30px;
}

.pr-BInoD {
  padding-right: 30px;
}

.pt-BInoD {
  padding-top: 30px;
}

.pb-BInoD {
  padding-bottom: 30px;
}

.px-BInoD {
  padding-left: 30px;
  padding-right: 30px;
}

.py-BInoD {
  padding-top: 30px;
  padding-bottom: 30px;
}

.m-BInoD {
  margin: 30px;
}

.mt-BInoD {
  margin-top: 30px;
}

.mb-BInoD {
  margin-bottom: 30px;
}

.ml-BInoD {
  margin-left: 30px;
}

.mr-BInoD {
  margin-right: 30px;
}

.mx-BInoD {
  margin-left: 30px;
  margin-right: 30px;
}

.my-BInoD {
  margin-top: 30px;
  margin-bottom: 30px;
}

.bg-BInoD {
  background: #40c7a7;
}

button.bg-BInoD:hover {
  background: black;
}

.col-BInoD {
  color: #40c7a7;
}

p.BiNOd {
  font-size: 1.75rem;
}

h1.BiNOd,
h2.BiNOd,
h3.BiNOd,
h4.BiNOd,
h5.BiNOd,
h6.BiNOd {
  font-size: 4.25rem;
}

.p-BiNOd {
  padding: 30px;
}

.pl-BiNOd {
  padding-left: 30px;
}

.pr-BiNOd {
  padding-right: 30px;
}

.pt-BiNOd {
  padding-top: 30px;
}

.pb-BiNOd {
  padding-bottom: 30px;
}

.px-BiNOd {
  padding-left: 30px;
  padding-right: 30px;
}

.py-BiNOd {
  padding-top: 30px;
  padding-bottom: 30px;
}

.m-BiNOd {
  margin: 30px;
}

.mt-BiNOd {
  margin-top: 30px;
}

.mb-BiNOd {
  margin-bottom: 30px;
}

.ml-BiNOd {
  margin-left: 30px;
}

.mr-BiNOd {
  margin-right: 30px;
}

.mx-BiNOd {
  margin-left: 30px;
  margin-right: 30px;
}

.my-BiNOd {
  margin-top: 30px;
  margin-bottom: 30px;
}

.bg-BiNOd {
  background: #40c7a7;
}

button.bg-BiNOd:hover {
  background: black;
}

.col-BiNOd {
  color: #40c7a7;
}

p.BiNoD {
  font-size: 1.75rem;
}

h1.BiNoD,
h2.BiNoD,
h3.BiNoD,
h4.BiNoD,
h5.BiNoD,
h6.BiNoD {
  font-size: 4.25rem;
}

.p-BiNoD {
  padding: 30px;
}

.pl-BiNoD {
  padding-left: 30px;
}

.pr-BiNoD {
  padding-right: 30px;
}

.pt-BiNoD {
  padding-top: 30px;
}

.pb-BiNoD {
  padding-bottom: 30px;
}

.px-BiNoD {
  padding-left: 30px;
  padding-right: 30px;
}

.py-BiNoD {
  padding-top: 30px;
  padding-bottom: 30px;
}

.m-BiNoD {
  margin: 30px;
}

.mt-BiNoD {
  margin-top: 30px;
}

.mb-BiNoD {
  margin-bottom: 30px;
}

.ml-BiNoD {
  margin-left: 30px;
}

.mr-BiNoD {
  margin-right: 30px;
}

.mx-BiNoD {
  margin-left: 30px;
  margin-right: 30px;
}

.my-BiNoD {
  margin-top: 30px;
  margin-bottom: 30px;
}

.bg-BiNoD {
  background: #40c7a7;
}

button.bg-BiNoD:hover {
  background: black;
}

.col-BiNoD {
  color: #40c7a7;
}

p.bINOd {
  font-size: 1.75rem;
}

h1.bINOd,
h2.bINOd,
h3.bINOd,
h4.bINOd,
h5.bINOd,
h6.bINOd {
  font-size: 4.25rem;
}

.p-bINOd {
  padding: 30px;
}

.pl-bINOd {
  padding-left: 30px;
}

.pr-bINOd {
  padding-right: 30px;
}

.pt-bINOd {
  padding-top: 30px;
}

.pb-bINOd {
  padding-bottom: 30px;
}

.px-bINOd {
  padding-left: 30px;
  padding-right: 30px;
}

.py-bINOd {
  padding-top: 30px;
  padding-bottom: 30px;
}

.m-bINOd {
  margin: 30px;
}

.mt-bINOd {
  margin-top: 30px;
}

.mb-bINOd {
  margin-bottom: 30px;
}

.ml-bINOd {
  margin-left: 30px;
}

.mr-bINOd {
  margin-right: 30px;
}

.mx-bINOd {
  margin-left: 30px;
  margin-right: 30px;
}

.my-bINOd {
  margin-top: 30px;
  margin-bottom: 30px;
}

.bg-bINOd {
  background: #40c7a7;
}

button.bg-bINOd:hover {
  background: black;
}

.col-bINOd {
  color: #40c7a7;
}

p.bINoD {
  font-size: 1.75rem;
}

h1.bINoD,
h2.bINoD,
h3.bINoD,
h4.bINoD,
h5.bINoD,
h6.bINoD {
  font-size: 4.25rem;
}

.p-bINoD {
  padding: 30px;
}

.pl-bINoD {
  padding-left: 30px;
}

.pr-bINoD {
  padding-right: 30px;
}

.pt-bINoD {
  padding-top: 30px;
}

.pb-bINoD {
  padding-bottom: 30px;
}

.px-bINoD {
  padding-left: 30px;
  padding-right: 30px;
}

.py-bINoD {
  padding-top: 30px;
  padding-bottom: 30px;
}

.m-bINoD {
  margin: 30px;
}

.mt-bINoD {
  margin-top: 30px;
}

.mb-bINoD {
  margin-bottom: 30px;
}

.ml-bINoD {
  margin-left: 30px;
}

.mr-bINoD {
  margin-right: 30px;
}

.mx-bINoD {
  margin-left: 30px;
  margin-right: 30px;
}

.my-bINoD {
  margin-top: 30px;
  margin-bottom: 30px;
}

.bg-bINoD {
  background: #40c7a7;
}

button.bg-bINoD:hover {
  background: black;
}

.col-bINoD {
  color: #40c7a7;
}

p.biNOD {
  font-size: 1.75rem;
}

h1.biNOD,
h2.biNOD,
h3.biNOD,
h4.biNOD,
h5.biNOD,
h6.biNOD {
  font-size: 4.25rem;
}

.p-biNOD {
  padding: 30px;
}

.pl-biNOD {
  padding-left: 30px;
}

.pr-biNOD {
  padding-right: 30px;
}

.pt-biNOD {
  padding-top: 30px;
}

.pb-biNOD {
  padding-bottom: 30px;
}

.px-biNOD {
  padding-left: 30px;
  padding-right: 30px;
}

.py-biNOD {
  padding-top: 30px;
  padding-bottom: 30px;
}

.m-biNOD {
  margin: 30px;
}

.mt-biNOD {
  margin-top: 30px;
}

.mb-biNOD {
  margin-bottom: 30px;
}

.ml-biNOD {
  margin-left: 30px;
}

.mr-biNOD {
  margin-right: 30px;
}

.mx-biNOD {
  margin-left: 30px;
  margin-right: 30px;
}

.my-biNOD {
  margin-top: 30px;
  margin-bottom: 30px;
}

.bg-biNOD {
  background: #40c7a7;
}

button.bg-biNOD:hover {
  background: black;
}

.col-biNOD {
  color: #40c7a7;
}

p.BinOD {
  font-size: 1.75rem;
}

h1.BinOD,
h2.BinOD,
h3.BinOD,
h4.BinOD,
h5.BinOD,
h6.BinOD {
  font-size: 4.25rem;
}

.p-BinOD {
  padding: 30px;
}

.pl-BinOD {
  padding-left: 30px;
}

.pr-BinOD {
  padding-right: 30px;
}

.pt-BinOD {
  padding-top: 30px;
}

.pb-BinOD {
  padding-bottom: 30px;
}

.px-BinOD {
  padding-left: 30px;
  padding-right: 30px;
}

.py-BinOD {
  padding-top: 30px;
  padding-bottom: 30px;
}

.m-BinOD {
  margin: 30px;
}

.mt-BinOD {
  margin-top: 30px;
}

.mb-BinOD {
  margin-bottom: 30px;
}

.ml-BinOD {
  margin-left: 30px;
}

.mr-BinOD {
  margin-right: 30px;
}

.mx-BinOD {
  margin-left: 30px;
  margin-right: 30px;
}

.my-BinOD {
  margin-top: 30px;
  margin-bottom: 30px;
}

.bg-BinOD {
  background: #40c7a7;
}

button.bg-BinOD:hover {
  background: black;
}

.col-BinOD {
  color: #40c7a7;
}

p.bInOD {
  font-size: 1.75rem;
}

h1.bInOD,
h2.bInOD,
h3.bInOD,
h4.bInOD,
h5.bInOD,
h6.bInOD {
  font-size: 4.25rem;
}

.p-bInOD {
  padding: 30px;
}

.pl-bInOD {
  padding-left: 30px;
}

.pr-bInOD {
  padding-right: 30px;
}

.pt-bInOD {
  padding-top: 30px;
}

.pb-bInOD {
  padding-bottom: 30px;
}

.px-bInOD {
  padding-left: 30px;
  padding-right: 30px;
}

.py-bInOD {
  padding-top: 30px;
  padding-bottom: 30px;
}

.m-bInOD {
  margin: 30px;
}

.mt-bInOD {
  margin-top: 30px;
}

.mb-bInOD {
  margin-bottom: 30px;
}

.ml-bInOD {
  margin-left: 30px;
}

.mr-bInOD {
  margin-right: 30px;
}

.mx-bInOD {
  margin-left: 30px;
  margin-right: 30px;
}

.my-bInOD {
  margin-top: 30px;
  margin-bottom: 30px;
}

.bg-bInOD {
  background: #40c7a7;
}

button.bg-bInOD:hover {
  background: black;
}

.col-bInOD {
  color: #40c7a7;
}

p.BINOd {
  font-size: 2rem;
}

h1.BINOd,
h2.BINOd,
h3.BINOd,
h4.BINOd,
h5.BINOd,
h6.BINOd {
  font-size: 5rem;
}

.p-BINOd {
  padding: 40px;
}

.pl-BINOd {
  padding-left: 40px;
}

.pr-BINOd {
  padding-right: 40px;
}

.pt-BINOd {
  padding-top: 40px;
}

.pb-BINOd {
  padding-bottom: 40px;
}

.px-BINOd {
  padding-left: 40px;
  padding-right: 40px;
}

.py-BINOd {
  padding-top: 40px;
  padding-bottom: 40px;
}

.m-BINOd {
  margin: 40px;
}

.ml-BINOd {
  margin-left: 40px;
}

.mr-BINOd {
  margin-right: 40px;
}

.mt-BINOd {
  margin-top: 40px;
}

.mb-BINOd {
  margin-bottom: 40px;
}

.mx-BINOd {
  margin-left: 40px;
  margin-right: 40px;
}

.my-BINOd {
  margin-top: 40px;
  margin-bottom: 40px;
}

.bg-BINOd {
  background: black;
}

button.bg-BINOd:hover {
  background: black;
}

.col-BINOd {
  color: white;
}

p.bINOD {
  font-size: 2rem;
}

h1.bINOD,
h2.bINOD,
h3.bINOD,
h4.bINOD,
h5.bINOD,
h6.bINOD {
  font-size: 5rem;
}

.p-bINOD {
  padding: 40px;
}

.pl-bINOD {
  padding-left: 40px;
}

.pr-bINOD {
  padding-right: 40px;
}

.pt-bINOD {
  padding-top: 40px;
}

.pb-bINOD {
  padding-bottom: 40px;
}

.px-bINOD {
  padding-left: 40px;
  padding-right: 40px;
}

.py-bINOD {
  padding-top: 40px;
  padding-bottom: 40px;
}

.m-bINOD {
  margin: 40px;
}

.ml-bINOD {
  margin-left: 40px;
}

.mr-bINOD {
  margin-right: 40px;
}

.mt-bINOD {
  margin-top: 40px;
}

.mb-bINOD {
  margin-bottom: 40px;
}

.mx-bINOD {
  margin-left: 40px;
  margin-right: 40px;
}

.my-bINOD {
  margin-top: 40px;
  margin-bottom: 40px;
}

.bg-bINOD {
  background: black;
}

button.bg-bINOD:hover {
  background: black;
}

.col-bINOD {
  color: white;
}

p.BiNOD {
  font-size: 2rem;
}

h1.BiNOD,
h2.BiNOD,
h3.BiNOD,
h4.BiNOD,
h5.BiNOD,
h6.BiNOD {
  font-size: 5rem;
}

.p-BiNOD {
  padding: 40px;
}

.pl-BiNOD {
  padding-left: 40px;
}

.pr-BiNOD {
  padding-right: 40px;
}

.pt-BiNOD {
  padding-top: 40px;
}

.pb-BiNOD {
  padding-bottom: 40px;
}

.px-BiNOD {
  padding-left: 40px;
  padding-right: 40px;
}

.py-BiNOD {
  padding-top: 40px;
  padding-bottom: 40px;
}

.m-BiNOD {
  margin: 40px;
}

.ml-BiNOD {
  margin-left: 40px;
}

.mr-BiNOD {
  margin-right: 40px;
}

.mt-BiNOD {
  margin-top: 40px;
}

.mb-BiNOD {
  margin-bottom: 40px;
}

.mx-BiNOD {
  margin-left: 40px;
  margin-right: 40px;
}

.my-BiNOD {
  margin-top: 40px;
  margin-bottom: 40px;
}

.bg-BiNOD {
  background: black;
}

button.bg-BiNOD:hover {
  background: black;
}

.col-BiNOD {
  color: white;
}

p.BInOD {
  font-size: 2rem;
}

h1.BInOD,
h2.BInOD,
h3.BInOD,
h4.BInOD,
h5.BInOD,
h6.BInOD {
  font-size: 5rem;
}

.p-BInOD {
  padding: 40px;
}

.pl-BInOD {
  padding-left: 40px;
}

.pr-BInOD {
  padding-right: 40px;
}

.pt-BInOD {
  padding-top: 40px;
}

.pb-BInOD {
  padding-bottom: 40px;
}

.px-BInOD {
  padding-left: 40px;
  padding-right: 40px;
}

.py-BInOD {
  padding-top: 40px;
  padding-bottom: 40px;
}

.m-BInOD {
  margin: 40px;
}

.ml-BInOD {
  margin-left: 40px;
}

.mr-BInOD {
  margin-right: 40px;
}

.mt-BInOD {
  margin-top: 40px;
}

.mb-BInOD {
  margin-bottom: 40px;
}

.mx-BInOD {
  margin-left: 40px;
  margin-right: 40px;
}

.my-BInOD {
  margin-top: 40px;
  margin-bottom: 40px;
}

.bg-BInOD {
  background: black;
}

button.bg-BInOD:hover {
  background: black;
}

.col-BInOD {
  color: white;
}

p.BINoD {
  font-size: 2rem;
}

h1.BINoD,
h2.BINoD,
h3.BINoD,
h4.BINoD,
h5.BINoD,
h6.BINoD {
  font-size: 5rem;
}

.p-BINoD {
  padding: 40px;
}

.pl-BINoD {
  padding-left: 40px;
}

.pr-BINoD {
  padding-right: 40px;
}

.pt-BINoD {
  padding-top: 40px;
}

.pb-BINoD {
  padding-bottom: 40px;
}

.px-BINoD {
  padding-left: 40px;
  padding-right: 40px;
}

.py-BINoD {
  padding-top: 40px;
  padding-bottom: 40px;
}

.m-BINoD {
  margin: 40px;
}

.ml-BINoD {
  margin-left: 40px;
}

.mr-BINoD {
  margin-right: 40px;
}

.mt-BINoD {
  margin-top: 40px;
}

.mb-BINoD {
  margin-bottom: 40px;
}

.mx-BINoD {
  margin-left: 40px;
  margin-right: 40px;
}

.my-BINoD {
  margin-top: 40px;
  margin-bottom: 40px;
}

.bg-BINoD {
  background: black;
}

button.bg-BINoD:hover {
  background: black;
}

.col-BINoD {
  color: white;
}

p.BINOD {
  font-size: 3rem;
}

h1.BINOD,
h2.BINOD,
h3.BINOD,
h4.BINOD,
h5.BINOD,
h6.BINOD {
  font-size: 6rem;
}

.p-BINOD {
  padding: 50px;
}

.pl-BINOD {
  padding-left: 50px;
}

.pr-BINOD {
  padding-right: 50px;
}

.pt-BINOD {
  padding-top: 50px;
}

.pb-BINOD {
  padding-bottom: 50px;
}

.px-BINOD {
  padding-left: 50px;
  padding-right: 50px;
}

.py-BINOD {
  padding-top: 50px;
  padding-bottom: 50px;
}

.m-BINOD {
  margin: 50px;
}

.ml-BINOD {
  margin-left: 50px;
}

.mr-BINOD {
  margin-right: 50px;
}

.mt-BINOD {
  margin-top: 50px;
}

.mb-BINOD {
  margin-bottom: 50px;
}

.mx-BINOD {
  margin-left: 50px;
  margin-right: 50px;
}

.my-BINOD {
  margin-top: 50px;
  margin-bottom: 50px;
}

.bg-BINOD {
  background: white;
}

button.bg-BINOD:hover {
  background: #cccccc;
}

.col-BINOD {
  color: #000000;
}
/*# sourceMappingURL=binod.css.map */